openapi: 3.1.0
info:
  title: LinkNMS API
  version: 2.0.0-stub
  description: 'Contract-first stub of the to-be API. **Source of truth for the UI and for the MCP server.** Behaviour is
    specified in `cowork/documentation/to-be/` (05 plan, 06 tendering, 04/16 access). Every operation states the Clerk permission
    it needs (`x-clerk-permission`), the relationship LinkNMS checks (`x-relationship`) and, when exposed to agents, its MCP
    tool name (`x-mcp-tool`).


    Conventions (to-be/11): acting org = Clerk active organization; money in integer cents EUR; ids UUIDv7 (client-generated
    on create); fields the viewer may not read are absent (see `_visibility`); plan rows use field-level deltas with last-write-wins;
    other aggregates use If-Match.'
  contact:
    name: LinkNMS
servers:
- url: https://portal.linknms.com/api/v2
  description: production
- url: https://dev.portal.linknms.com/api/v2
  description: dev
- url: http://localhost:3000/api/v2
  description: local
security:
- clerkSession: []
tags:
- name: Identity & Access
  description: Clerk owns people, organisations, roles and permissions; LinkNMS mirrors them for attribution. See to-be/16.
- name: Directory
  description: Company profiles, specialties, service areas, portfolio. See to-be/07.
- name: Project
  description: 'The build: brief, locations, participants, calendar, share links. See to-be/03.'
- name: Planning
  description: 'The plan (WBS + timeline): rows, links, propagation, baselines, variations, progress, templates. See to-be/05.'
- name: Tendering
  description: RFP from plan rows, individual invitations, proposal lanes, comparison, award. See to-be/06.
- name: Contracting
  description: Contract tree, change orders (optional formalisation), measurements, payment records. See to-be/06.
- name: Quality
  description: Verification of completed work, non-conformities, inspections. See to-be/08, 17.
- name: Documents
  description: Versioned, scoped files; sha256 in the ledger. See to-be/08.
- name: Collaboration
  description: Comments, questions, minutes, activity, notifications. See to-be/08.
- name: Record
  description: Tamper-evident, hash-chained ledger, projected per viewer. See to-be/08.
- name: Reputation
  description: Reviews after completion + objective metrics. See to-be/07.
- name: Billing
  description: Plans, subscriptions, entitlements, sponsorship. See to-be/07, 16 §9.
- name: Realtime
  description: Live stream per project. See to-be/11.
paths:
  /me:
    get:
      tags:
      - Identity & Access
      operationId: getMe
      summary: 'Who am I: person, active org, role, permissions, orgs, pending project invitations'
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** none


        **MCP tool:** `whoami`'
      x-mcp-tool: whoami
      x-mcp-mode: read
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Me'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations:
    post:
      tags:
      - Identity & Access
      operationId: createOrganization
      summary: Create my company or household (creates the Clerk org and its role set)
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** none'
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /organizations/{orgId}/members:
    get:
      tags:
      - Identity & Access
      operationId: listMembers
      summary: Members of my organisation (mirror of Clerk memberships)
      description: '**Clerk permission:** `org:members:manage`


        **Relationship (LinkNMS):** none'
      x-clerk-permission: org:members:manage
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/Person'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{projectId}/staffing/{personId}:
    put:
      tags:
      - Identity & Access
      operationId: staffPerson
      summary: Put one of my people on a project
      description: '**Clerk permission:** `org:projects:staff`


        **Relationship (LinkNMS):** project.participant'
      x-clerk-permission: org:projects:staff
      x-relationship: project.participant
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/personId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Staffing'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    delete:
      tags:
      - Identity & Access
      operationId: unstaffPerson
      summary: Remove one of my people from a project
      description: '**Clerk permission:** `org:projects:staff`


        **Relationship (LinkNMS):** project.participant'
      x-clerk-permission: org:projects:staff
      x-relationship: project.participant
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/personId'
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /webhooks/clerk:
    post:
      tags:
      - Identity & Access
      operationId: clerkWebhook
      summary: 'Clerk webhook: user.*, organization.*, organizationMembership.* → identity mirror'
      description: 'Svix-signed. Rejects deleting an org that is party to a signed contract.


        **Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** none'
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /organizations/{orgId}/profile:
    put:
      tags:
      - Directory
      operationId: putProfile
      summary: Edit my public profile, areas, specialties, declared credentials
      description: '**Clerk permission:** `org:profile:manage`


        **Relationship (LinkNMS):** none'
      x-clerk-permission: org:profile:manage
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationProfile'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationProfile'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /organizations/{orgId}/profile/completeness:
    get:
      tags:
      - Directory
      operationId: getCompleteness
      summary: Completeness score and what raises it
      description: '**Clerk permission:** `org:profile:manage`


        **Relationship (LinkNMS):** none'
      x-clerk-permission: org:profile:manage
      parameters:
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Completeness'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{orgId}/portfolio:
    post:
      tags:
      - Directory
      operationId: addPortfolioEntry
      summary: Add a declared portfolio entry
      description: '**Clerk permission:** `org:profile:manage`


        **Relationship (LinkNMS):** none'
      x-clerk-permission: org:profile:manage
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortfolioEntry'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioEntry'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /organizations/{orgId}/portfolio/{entryId}:
    delete:
      tags:
      - Directory
      operationId: deletePortfolioEntry
      summary: Remove a declared portfolio entry
      description: '**Clerk permission:** `org:profile:manage`


        **Relationship (LinkNMS):** none'
      x-clerk-permission: org:profile:manage
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/entryId'
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /directory/organizations:
    get:
      tags:
      - Directory
      operationId: searchOrganizations
      summary: Search companies by specialty, area, kind, rating
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** none


        **MCP tool:** `find_companies`'
      x-mcp-tool: find_companies
      x-mcp-mode: read
      parameters:
      - name: specialty
        in: query
        required: false
        schema:
          type: string
      - name: municipality
        in: query
        required: false
        schema:
          type: string
      - name: district
        in: query
        required: false
        schema:
          type: string
      - name: kind
        in: query
        required: false
        schema:
          type: string
      - name: min_rating
        in: query
        required: false
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/OrganizationProfile'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /directory/organizations/{orgId}:
    get:
      tags:
      - Directory
      operationId: getDirectoryOrganization
      summary: 'A company: profile, portfolio, rating, metrics'
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** none


        **MCP tool:** `get_company`'
      x-mcp-tool: get_company
      x-mcp-mode: read
      parameters:
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationProfile'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /specialties:
    get:
      tags:
      - Directory
      operationId: listSpecialties
      summary: Specialty catalogue
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** none


        **MCP tool:** `list_specialties`'
      x-mcp-tool: list_specialties
      x-mcp-mode: read
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/Specialty'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects:
    post:
      tags:
      - Project
      operationId: createProject
      summary: Create a project (the brief)
      description: '**Clerk permission:** `org:projects:create`


        **Relationship (LinkNMS):** none


        **MCP tool:** `create_project`'
      x-clerk-permission: org:projects:create
      x-mcp-tool: create_project
      x-mcp-mode: write-confirm
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    get:
      tags:
      - Project
      operationId: listProjects
      summary: My projects (portfolio) with status, variance, open items
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** none


        **MCP tool:** `list_projects`'
      x-mcp-tool: list_projects
      x-mcp-mode: read
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: capacity
        in: query
        required: false
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/ProjectOverview'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{projectId}:
    get:
      tags:
      - Project
      operationId: getProject
      summary: Project
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.participant'
      x-relationship: project.participant
      parameters:
      - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Project
      operationId: updateProject
      summary: Edit the brief
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** project.owner'
      x-clerk-permission: org:plan:edit
      x-relationship: project.owner
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /projects/{projectId}:claim:
    post:
      tags:
      - Project
      operationId: claimProject
      summary: Owner claims a project created on its behalf
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** invited owner'
      x-relationship: invited owner
      parameters:
      - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /projects/{projectId}:cancel:
    post:
      tags:
      - Project
      operationId: cancelProject
      summary: Cancel (no signed contract)
      description: '**Clerk permission:** `org:projects:create`


        **Relationship (LinkNMS):** project.owner'
      x-clerk-permission: org:projects:create
      x-relationship: project.owner
      parameters:
      - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /projects/{projectId}:close:
    post:
      tags:
      - Project
      operationId: closeProject
      summary: Close (all owner-level contracts closed/terminated)
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.owner'
      x-relationship: project.owner
      parameters:
      - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /projects/{projectId}/overview:
    get:
      tags:
      - Project
      operationId: getProjectOverview
      summary: 'Owner control view: end date and cost vs baseline, open variations/questions, health'
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.participant


        **MCP tool:** `project_status`'
      x-relationship: project.participant
      x-mcp-tool: project_status
      x-mcp-mode: read
      parameters:
      - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectOverview'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{projectId}/locations:
    get:
      tags:
      - Project
      operationId: listLocations
      summary: Buildings / units / zones
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.participant'
      x-relationship: project.participant
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/Location'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
      - Project
      operationId: createLocation
      summary: Add a building / unit / zone
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** project.owner


        **MCP tool:** `add_location`'
      x-clerk-permission: org:plan:edit
      x-relationship: project.owner
      x-mcp-tool: add_location
      x-mcp-mode: write-confirm
      parameters:
      - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Location'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /locations/{locationId}:
    patch:
      tags:
      - Project
      operationId: updateLocation
      summary: Edit a location
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** project.owner'
      x-clerk-permission: org:plan:edit
      x-relationship: project.owner
      parameters:
      - $ref: '#/components/parameters/locationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Location'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    delete:
      tags:
      - Project
      operationId: deleteLocation
      summary: Delete an unused location
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** project.owner'
      x-clerk-permission: org:plan:edit
      x-relationship: project.owner
      parameters:
      - $ref: '#/components/parameters/locationId'
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /projects/{projectId}/participants:
    get:
      tags:
      - Project
      operationId: listParticipants
      summary: Organisations on the build and their capacity
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.participant'
      x-relationship: project.participant
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/Participant'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{projectId}/invitations:
    post:
      tags:
      - Project
      operationId: inviteToProject
      summary: Invite a consultant / inspector / HSE (no priced contract)
      description: '**Clerk permission:** `org:projects:staff`


        **Relationship (LinkNMS):** project.owner | prime supplier'
      x-clerk-permission: org:projects:staff
      x-relationship: project.owner | prime supplier
      parameters:
      - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectInvitation'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectInvitation'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /project-invitations/{token}:accept:
    post:
      tags:
      - Project
      operationId: acceptProjectInvitation
      summary: Accept a project invitation (with my active org)
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** none'
      parameters:
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /projects/{projectId}/calendar:
    get:
      tags:
      - Project
      operationId: getCalendar
      summary: Work days, holidays, closures
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.participant'
      x-relationship: project.participant
      parameters:
      - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calendar'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Project
      operationId: putCalendar
      summary: Edit work days and closures
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** project.owner | prime supplier'
      x-clerk-permission: org:plan:edit
      x-relationship: project.owner | prime supplier
      parameters:
      - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Calendar'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calendar'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /projects/{projectId}/share-links:
    post:
      tags:
      - Project
      operationId: createShareLink
      summary: Scoped, expiring link for a licensing authority (no account)
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** project.owner'
      x-clerk-permission: org:plan:edit
      x-relationship: project.owner
      parameters:
      - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareLink'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareLink'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /projects/{projectId}/schedule:
    get:
      tags:
      - Planning
      operationId: getSchedule
      summary: 'The plan: tree, links, dates, segments, per-viewer cost, can_edit, health'
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.participant


        **MCP tool:** `get_plan`'
      x-relationship: project.participant
      x-mcp-tool: get_plan
      x-mcp-mode: read
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: root
        in: query
        required: false
        schema:
          type: string
      - name: depth
        in: query
        required: false
        schema:
          type: string
      - name: assignee
        in: query
        required: false
        schema:
          type: string
      - name: location
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: state
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{projectId}/tasks:
    post:
      tags:
      - Planning
      operationId: createTask
      summary: Create a row (assignee inherited from the branch)
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** edit scope ∋ parent


        **MCP tool:** `add_task`'
      x-clerk-permission: org:plan:edit
      x-relationship: edit scope ∋ parent
      x-mcp-tool: add_task
      x-mcp-mode: write-confirm
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDeltaResult'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /tasks/{taskId}:
    get:
      tags:
      - Planning
      operationId: getTask
      summary: 'Row detail: fields, delta history, variations, progress, questions, documents'
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.participant


        **MCP tool:** `get_task`'
      x-relationship: project.participant
      x-mcp-tool: get_task
      x-mcp-mode: read
      parameters:
      - $ref: '#/components/parameters/taskId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Planning
      operationId: updateTask
      summary: Commit a change to one row (field-level delta, last write wins, propagation)
      description: 'D-26. No If-Match: each field carries its `base`; mismatches are applied and reported in `overwrote`.


        **Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** edit scope ∋ row


        **MCP tool:** `update_task`'
      x-clerk-permission: org:plan:edit
      x-relationship: edit scope ∋ row
      x-mcp-tool: update_task
      x-mcp-mode: write-confirm
      parameters:
      - $ref: '#/components/parameters/taskId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskDelta'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDeltaResult'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /tasks/{taskId}:preview-move:
    post:
      tags:
      - Planning
      operationId: previewMove
      summary: 'Preview a drag: resulting lag and rows that would move'
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** edit scope ∋ row


        **MCP tool:** `preview_move`'
      x-clerk-permission: org:plan:edit
      x-relationship: edit scope ∋ row
      x-mcp-tool: preview_move
      x-mcp-mode: write-confirm
      parameters:
      - $ref: '#/components/parameters/taskId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovePreview'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovePreviewResult'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /tasks/{taskId}:record-actual:
    post:
      tags:
      - Planning
      operationId: recordActual
      summary: Record the actual finish of an external row (e.g. licence issued)
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** edit scope ∋ row'
      x-clerk-permission: org:plan:edit
      x-relationship: edit scope ∋ row
      parameters:
      - $ref: '#/components/parameters/taskId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovePreview'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDeltaResult'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /projects/{projectId}/schedule:apply:
    post:
      tags:
      - Planning
      operationId: applySchedule
      summary: Atomic structural batch (move/indent/delete subtree, paste, insert template, create rows+links); dry_run returns
        the diff
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** edit scope ∋ every affected row


        **MCP tool:** `apply_plan_changes`'
      x-clerk-permission: org:plan:edit
      x-relationship: edit scope ∋ every affected row
      x-mcp-tool: apply_plan_changes
      x-mcp-mode: write-confirm
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleApply'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleApplyResult'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /tasks/{taskId}/links:
    post:
      tags:
      - Planning
      operationId: createLink
      summary: Link two rows (anchors + lag)
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** edit scope ∋ successor


        **MCP tool:** `link_tasks`'
      x-clerk-permission: org:plan:edit
      x-relationship: edit scope ∋ successor
      x-mcp-tool: link_tasks
      x-mcp-mode: write-confirm
      parameters:
      - $ref: '#/components/parameters/taskId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDeltaResult'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /links/{linkId}:
    patch:
      tags:
      - Planning
      operationId: updateLink
      summary: Change anchors or lag
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** edit scope ∋ successor'
      x-clerk-permission: org:plan:edit
      x-relationship: edit scope ∋ successor
      parameters:
      - $ref: '#/components/parameters/linkId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkCreate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDeltaResult'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    delete:
      tags:
      - Planning
      operationId: deleteLink
      summary: Remove a link (frees the successor)
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** edit scope ∋ successor'
      x-clerk-permission: org:plan:edit
      x-relationship: edit scope ∋ successor
      parameters:
      - $ref: '#/components/parameters/linkId'
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /tasks/{taskId}/cost-lines:
    get:
      tags:
      - Planning
      operationId: listCostLines
      summary: Cost lines on a row (projected per viewer)
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.participant'
      x-relationship: project.participant
      parameters:
      - $ref: '#/components/parameters/taskId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/CostLine'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
      - Planning
      operationId: createCostLine
      summary: Add a cost line (contract party, or owner estimate)
      description: '**Clerk permission:** `org:costs:edit`


        **Relationship (LinkNMS):** party of the line''s contract'
      x-clerk-permission: org:costs:edit
      x-relationship: party of the line's contract
      parameters:
      - $ref: '#/components/parameters/taskId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostLine'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostLine'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /cost-lines/{costLineId}:
    patch:
      tags:
      - Planning
      operationId: updateCostLine
      summary: Change a cost line (post-baseline → variation)
      description: '**Clerk permission:** `org:costs:edit`


        **Relationship (LinkNMS):** party of the line''s contract'
      x-clerk-permission: org:costs:edit
      x-relationship: party of the line's contract
      parameters:
      - $ref: '#/components/parameters/costLineId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostLine'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostLine'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    delete:
      tags:
      - Planning
      operationId: deleteCostLine
      summary: Remove a cost line
      description: '**Clerk permission:** `org:costs:edit`


        **Relationship (LinkNMS):** party of the line''s contract'
      x-clerk-permission: org:costs:edit
      x-relationship: party of the line's contract
      parameters:
      - $ref: '#/components/parameters/costLineId'
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /tasks/{taskId}/progress:
    post:
      tags:
      - Planning
      operationId: reportProgress
      summary: Report progress (append-only; done → verification request)
      description: '**Clerk permission:** `org:progress:report`


        **Relationship (LinkNMS):** edit scope ∋ row


        **MCP tool:** `report_progress`'
      x-clerk-permission: org:progress:report
      x-relationship: edit scope ∋ row
      x-mcp-tool: report_progress
      x-mcp-mode: write-confirm
      parameters:
      - $ref: '#/components/parameters/taskId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProgressCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressReport'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    get:
      tags:
      - Planning
      operationId: listProgress
      summary: Progress history
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.participant'
      x-relationship: project.participant
      parameters:
      - $ref: '#/components/parameters/taskId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/ProgressReport'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{projectId}/variations:
    get:
      tags:
      - Planning
      operationId: listVariations
      summary: 'Change view: variations vs baseline (time / cost / material / scope)'
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.participant (cost per V2/V5)


        **MCP tool:** `explain_changes`'
      x-relationship: project.participant (cost per V2/V5)
      x-mcp-tool: explain_changes
      x-mcp-mode: read
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: kind
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: since
        in: query
        required: false
        schema:
          type: string
      - name: task
        in: query
        required: false
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/Variation'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /variations/{variationId}:
    get:
      tags:
      - Planning
      operationId: getVariation
      summary: A variation with its history
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.participant (cost per V2/V5)'
      x-relationship: project.participant (cost per V2/V5)
      parameters:
      - $ref: '#/components/parameters/variationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variation'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /variations/{variationId}:acknowledge:
    post:
      tags:
      - Planning
      operationId: acknowledgeVariation
      summary: I saw it (who/when recorded)
      description: '**Clerk permission:** `org:variations:acknowledge`


        **Relationship (LinkNMS):** project.owner | contract client'
      x-clerk-permission: org:variations:acknowledge
      x-relationship: project.owner | contract client
      parameters:
      - $ref: '#/components/parameters/variationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variation'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /variations/{variationId}:question:
    post:
      tags:
      - Planning
      operationId: questionVariation
      summary: Ask the responsible party about it (opens a question on the row)
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.participant'
      x-relationship: project.participant
      parameters:
      - $ref: '#/components/parameters/variationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /projects/{projectId}/schedule/health:
    get:
      tags:
      - Planning
      operationId: getPlanHealth
      summary: Plan health (never blocking)
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.participant


        **MCP tool:** `plan_health`'
      x-relationship: project.participant
      x-mcp-tool: plan_health
      x-mcp-mode: read
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: root
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanHealth'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{projectId}/baselines:
    get:
      tags:
      - Planning
      operationId: listBaselines
      summary: Baselines per branch
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.participant'
      x-relationship: project.participant
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: root
        in: query
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/Baseline'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /me/tasks:
    get:
      tags:
      - Planning
      operationId: listMyTasks
      summary: My rows (this week, late, extended, awaiting verification)
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** none


        **MCP tool:** `my_tasks`'
      x-mcp-tool: my_tasks
      x-mcp-mode: read
      parameters:
      - name: window
        in: query
        required: false
        schema:
          type: string
      - name: state
        in: query
        required: false
        schema:
          type: string
      - name: project
        in: query
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/Task'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{projectId}/site-calendar:
    get:
      tags:
      - Planning
      operationId: getSiteCalendar
      summary: Who is on site when (overlaps)
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.participant'
      x-relationship: project.participant
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: from
        in: query
        required: false
        schema:
          type: string
      - name: to
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{projectId}/schedule-imports:
    post:
      tags:
      - Planning
      operationId: uploadScheduleImport
      summary: Upload an Excel plan under a row
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** edit scope ∋ target parent'
      x-clerk-permission: org:plan:edit
      x-relationship: edit scope ∋ target parent
      parameters:
      - $ref: '#/components/parameters/projectId'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleImport'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /schedule-imports/{importId}:map:
    post:
      tags:
      - Planning
      operationId: mapScheduleImport
      summary: Map columns
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** none'
      x-clerk-permission: org:plan:edit
      parameters:
      - $ref: '#/components/parameters/importId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleImport'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleImport'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /schedule-imports/{importId}:preview:
    post:
      tags:
      - Planning
      operationId: previewScheduleImport
      summary: Preview parsed rows + warnings
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** none'
      x-clerk-permission: org:plan:edit
      parameters:
      - $ref: '#/components/parameters/importId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleImport'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /schedule-imports/{importId}:confirm:
    post:
      tags:
      - Planning
      operationId: confirmScheduleImport
      summary: Write the rows (cause=import)
      description: '**Clerk permission:** `org:plan:edit`


        **Relationship (LinkNMS):** none'
      x-clerk-permission: org:plan:edit
      parameters:
      - $ref: '#/components/parameters/importId'
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleApplyResult'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /plan-templates:
    get:
      tags:
      - Planning
      operationId: listTemplates
      summary: Template library by construction type / phase / scope
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** none


        **MCP tool:** `list_templates`'
      x-mcp-tool: list_templates
      x-mcp-mode: read
      parameters:
      - name: construction_type
        in: query
        required: false
        schema:
          type: string
      - name: phase
        in: query
        required: false
        schema:
          type: string
      - name: scope
        in: query
        required: false
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/PlanTemplate'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
      - Planning
      operationId: createTemplate
      summary: Save the plan or selected subtrees as a template
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** project.participant (read)'
      x-relationship: project.participant (read)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanTemplateCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanTemplate'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /plan-templates/{templateId}:
    get:
      tags:
      - Planning
      operationId: getTemplate
      summary: A template (structure + links)
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** none


        **MCP tool:** `get_template`'
      x-mcp-tool: get_template
      x-mcp-mode: read
      parameters:
      - $ref: '#/components/parameters/templateId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanTemplate'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Planning
      operationId: updateTemplate
      summary: Rename / share / unshare
      description: '**Clerk permission:** `org:templates:publish`


        **Relationship (LinkNMS):** template owner'
      x-clerk-permission: org:templates:publish
      x-relationship: template owner
      parameters:
      - $ref: '#/components/parameters/templateId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanTemplate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanTemplate'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    delete:
      tags:
      - Planning
      operationId: deleteTemplate
      summary: Delete a template
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** template owner'
      x-relationship: template owner
      parameters:
      - $ref: '#/components/parameters/templateId'
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /projects/{projectId}/rfps:
    post:
      tags:
      - Tendering
      operationId: createRfp
      summary: Create an RFP from plan rows (package = subtrees + docs + quantities, no prices)
      description: '**Clerk permission:** `org:tendering:issue`


        **Relationship (LinkNMS):** edit scope ∋ roots


        **MCP tool:** `draft_rfp`'
      x-clerk-permission: org:tendering:issue
      x-relationship: edit scope ∋ roots
      x-mcp-tool: draft_rfp
      x-mcp-mode: write-confirm
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RfpCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rfp'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /rfps/{rfpId}:
    get:
      tags:
      - Tendering
      operationId: getRfp
      summary: 'RFP (issuer: full; bidder: package + clarifications)'
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** issuer | recipient'
      x-relationship: issuer | recipient
      parameters:
      - $ref: '#/components/parameters/rfpId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rfp'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Tendering
      operationId: updateRfp
      summary: Edit a draft RFP
      description: '**Clerk permission:** `org:tendering:issue`


        **Relationship (LinkNMS):** issuer'
      x-clerk-permission: org:tendering:issue
      x-relationship: issuer
      parameters:
      - $ref: '#/components/parameters/rfpId'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RfpCreate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rfp'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /rfps/{rfpId}/recipients:
    post:
      tags:
      - Tendering
      operationId: addRecipients
      summary: Add recipients (platform orgs and/or emails)
      description: '**Clerk permission:** `org:tendering:issue`


        **Relationship (LinkNMS):** issuer


        **MCP tool:** `add_rfp_recipients`'
      x-clerk-permission: org:tendering:issue
      x-relationship: issuer
      x-mcp-tool: add_rfp_recipients
      x-mcp-mode: write-confirm
      parameters:
      - $ref: '#/components/parameters/rfpId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipientAdd'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/Recipient'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    get:
      tags:
      - Tendering
      operationId: listRecipients
      summary: Per-recipient delivery status
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** issuer'
      x-relationship: issuer
      parameters:
      - $ref: '#/components/parameters/rfpId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/Recipient'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /rfps/{rfpId}:publish:
    post:
      tags:
      - Tendering
      operationId: publishRfp
      summary: 'Publish: one individual email per recipient'
      description: 'Never exposed as an MCP write: the human confirms sending.


        **Clerk permission:** `org:tendering:issue`


        **Relationship (LinkNMS):** issuer


        **Human-only:** never exposed as an MCP tool (a person must do this in the UI).'
      x-clerk-permission: org:tendering:issue
      x-relationship: issuer
      x-human-only: true
      parameters:
      - $ref: '#/components/parameters/rfpId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rfp'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /rfps/{rfpId}/addenda:
    post:
      tags:
      - Tendering
      operationId: addAddendum
      summary: Addendum (new package version, all bidders notified)
      description: '**Clerk permission:** `org:tendering:issue`


        **Relationship (LinkNMS):** issuer'
      x-clerk-permission: org:tendering:issue
      x-relationship: issuer
      parameters:
      - $ref: '#/components/parameters/rfpId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RfpCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rfp'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /rfps/{rfpId}:close:
    post:
      tags:
      - Tendering
      operationId: closeRfp
      summary: Close early
      description: '**Clerk permission:** `org:tendering:issue`


        **Relationship (LinkNMS):** issuer'
      x-clerk-permission: org:tendering:issue
      x-relationship: issuer
      parameters:
      - $ref: '#/components/parameters/rfpId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rfp'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /rfps/{rfpId}:cancel:
    post:
      tags:
      - Tendering
      operationId: cancelRfp
      summary: Cancel
      description: '**Clerk permission:** `org:tendering:issue`


        **Relationship (LinkNMS):** issuer'
      x-clerk-permission: org:tendering:issue
      x-relationship: issuer
      parameters:
      - $ref: '#/components/parameters/rfpId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rfp'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /marketplace/rfps:
    get:
      tags:
      - Tendering
      operationId: browseOpenRfps
      summary: Open RFPs matching my specialties and areas
      description: '**Clerk permission:** `org:tendering:bid`


        **Relationship (LinkNMS):** none


        **MCP tool:** `find_open_rfps`'
      x-clerk-permission: org:tendering:bid
      x-mcp-tool: find_open_rfps
      x-mcp-mode: read
      parameters:
      - name: specialty
        in: query
        required: false
        schema:
          type: string
      - name: municipality
        in: query
        required: false
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/Rfp'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /me/rfps:
    get:
      tags:
      - Tendering
      operationId: listMyRfps
      summary: RFPs I was invited to or applied to
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** none'
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/Rfp'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /rfps/{rfpId}/clarifications:
    post:
      tags:
      - Tendering
      operationId: askClarification
      summary: Ask a question about the package
      description: '**Clerk permission:** `org:tendering:bid`


        **Relationship (LinkNMS):** recipient'
      x-clerk-permission: org:tendering:bid
      x-relationship: recipient
      parameters:
      - $ref: '#/components/parameters/rfpId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Clarification'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clarification'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /clarifications/{clarificationId}:answer:
    post:
      tags:
      - Tendering
      operationId: answerClarification
      summary: Answer (published to all bidders, asker anonymised)
      description: '**Clerk permission:** `org:tendering:issue`


        **Relationship (LinkNMS):** issuer'
      x-clerk-permission: org:tendering:issue
      x-relationship: issuer
      parameters:
      - $ref: '#/components/parameters/clarificationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Clarification'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clarification'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /tasks/{taskId}/proposal-lanes:
    get:
      tags:
      - Tendering
      operationId: listProposalLanes
      summary: Lanes under a tendered row with pre-computed comparison
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** issuer: all · bidder: own


        **MCP tool:** `compare_proposals`'
      x-relationship: 'issuer: all · bidder: own'
      x-mcp-tool: compare_proposals
      x-mcp-mode: read
      parameters:
      - $ref: '#/components/parameters/taskId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/ProposalLane'
                  required:
                  - items
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /proposals/{proposalId}:
    get:
      tags:
      - Tendering
      operationId: getProposal
      summary: A proposal (issuer or its author)
      description: '**Clerk permission:** none beyond an authenticated session


        **Relationship (LinkNMS):** issuer | author'
      x-relationship: issuer | author
      parameters:
      - $ref: '#/components/parameters/proposalId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Tendering
      operationId: putProposal
      summary: Build/replace my proposal plan, lines, conditions
      description: '**Clerk permission:** `org:tendering:bid`


        **Relationship (LinkNMS):** author


        **MCP tool:** `draft_proposal`'
      x-clerk-permission: org:tendering:bid
      x-relationship: author
      x-mcp-tool: draft_proposal
      x-mcp-mode: write-confirm
      parameters:
      - $ref: '#/components/parameters/proposalId'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Proposal'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /proposals/{proposalId}:submit:
    post:
      tags:
      - Tendering
      operationId: submitProposal
      summary: Submit (new revision)
      description: '**Clerk permission:** `org:tendering:bid`


        **Relationship (LinkNMS):** author'
      x-clerk-permission: org:tendering:bid
      x-relationship: author
      parameters:
      - $ref: '#/components/parameters/proposalId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /proposals/{proposalId}:withdraw:
    post:
      tags:
      - Tendering
      operationId: withdrawProposal
      summary: Withdraw before award
      description: '**Clerk permission:** `org:tendering:bid`


        **Relationship (LinkNMS):** author'
      x-clerk-permission: org:tendering:bid
      x-relationship: author
      parameters:
      - $ref: '#/components/parameters/proposalId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /proposals/{proposalId}:record-offline:
    post:
      tags:
      - Tendering
      operationId: recordOfflineProposal
      summary: Record an answer received by email (PDFs + summary)
      description: '**Clerk permission:** `org:tendering:issue`


        **Relationship (LinkNMS):** issuer'
      x-clerk-permission: org:tendering:issue
      x-relationship: issuer
      parameters:
      - $ref: '#/components/parameters/proposalId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfflineProposal'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /rfps/{rfpId}/comparison:
    get:
      tags:
      - Tendering
      operationId: getComparison
      summary: Line-by-line comparison matrix
      description: '**Clerk permission:** `org:money:view`


        **Relationship (LinkNMS):** issuer


        **MCP tool:** `compare_proposals_matrix`'
      x-clerk-permission: org:money:view
      x-relationship: issuer
      x-mcp-tool: compare_proposals_matrix
      x-mcp-mode: read
      parameters:
      - $ref: '#/components/parameters/rfpId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comparison'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /proposals/{proposalId}:shortlist:
    post:
      tags:
      - Tendering
      operationId: shortlistProposal
      summary: Shortlist
      description: '**Clerk permission:** `org:tendering:issue`


        **Relationship (LinkNMS):** issuer'
      x-clerk-permission: org:tendering:issue
      x-relationship: issuer
      parameters:
      - $ref: '#/components/parameters/proposalId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /rfps/{rfpId}:award:
    post:
      tags:
      - Tendering
      operationId: awardRfp
      summary: Award → contract draft; on signature the winner's plan is copied under the tendered rows
      description: 'Body carries proposal_id.


        **Clerk permission:** `org:tendering:issue`


        **Relationship (LinkNMS):** issuer


        **Human-only:** never exposed as an MCP tool (a person must do this in the UI).'
      x-clerk-permission: org:tendering:issue
      x-relationship: issuer
      x-human-only: true
      parameters:
      - $ref: '#/components/parameters/rfpId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Decision'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/NotEntitled'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /projects/{projectId}/contracts:
    post:
      tags:
      - Contracting
      operationId: createContract
      summary: Create a contract directly (off-platform deal)
      description: '**Clerk permission:** `org:contracts:sign`


        **Relationship (LinkNMS):** client (owner, or supplier of the parent)'
      x-clerk-permission: org:contracts:sign
      x-relationship: client (owner, or supplier of the parent)
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
[...]
